[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "boral"]
	path = boral
	url = https://github.com/cran/boral
[submodule "rpql"]
	path = rpql
	url = https://github.com/cran/rpql
